
@{
    ViewBag.Title = "Education";
}

<h1>Education</h1>
<table class="table table-condensed">
    <tr>
        <th>Name of Degree</th>
        <th>Instution Name</th>
        <th>CGPA</th>
    </tr>
    <tr>
        <td>SSC</td>
        <td>Chittagong Govt. High School</td>
        <td>5.00</td>
    </tr>
    <tr>
        <td>HSC</td>
        <td>Inspahani Public School & College</td>
        <td>4.25</td>
    </tr>
</table>

