
@{
    ViewBag.Title = "Personal";
}

<h1>Personal</h1>
<ul>
    <li><b>Address: </b>Chawkbazar, chittagong</li>
    <li><b>Gender: </b>Male</li>
    <li><b>Age: </b>22</li>
    <li><b>Religion: </b>Islam</li>
</ul>

