
@{
    ViewBag.Title = "Projects";
}

<h1>My Projects</h1>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Language Used</th>
        <th>URL</th>
    </tr>
    <tr>
        <td>Pixel Sheet</td>
        <td>Javascript, HTML, CSS</td>
        <td>https://github.com/abtahi-tajwar/PixelArtApp.git</td>
    </tr>
    <tr>
        <td>PixelArt App</td>
        <td>Javascript, HTML, CSS</td>
        <td>https://github.com/abtahi-tajwar/PixelArtApp.git</td>
    </tr>
    <tr>
        <td>Management Dashboard</td>
        <td>PHP, Javascript, HTML, CSS</td>
        <td>https://github.com/abtahi-tajwar/PixelArtApp.git</td>
    </tr>
</table>

