
@{
    ViewBag.Title = "ShowResult";
}
@model June7Classwork.Models.Person
<h2>Uer Attributes</h2>
<dl class="row">
    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9"> @Model.email </dd>

    <dt class="col-sm-3">Password</dt>
    <dd class="col-sm-9"> @Model.pwd </dd>
</dl>

